html {
    font-size:.9 rem;
}
@media (min-width:767){
   html {
       font-size: 1rem;
   }
   .header {
       
   }
}

body{
    direction: rtl;
    font-family: Vazir;
    text-align: right;
    font-weight: 300;
}
.container {
    max-width: 1100px;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .07);
}
.box-shadow-body {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}